@model Command.Entity1.ItemGroup


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><i class="fas fa-chart-pie mr-1">Create Item  </i></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Create Item</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <form asp-controller="ItemGroup" asp-action="update" method="post">
                @*<div class="card-header">
                        <h3 class="card-title">ItemGroup</h3>
                    </div>*@
                <!-- /.card-header -->
                <div class="card-body">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.ModifiedBy)
                    @Html.HiddenFor(m => m.ModifiedDate)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Item Name</label>
                                @Html.TextBoxFor(m => m.ItemGroupName, new { @class = "form-control", placeholder = "Enter Name" })
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Item Group Name</label>
                                <select type="select" asp-for="ParentItemGroupId" asp-items="ViewBag.ItemGroupNLevelString" class="form-control">
                                    <option value="0">None</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="card-tools">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Save</button>
                        <button type="submit" class="btn btn-primary" asp-controller="ItemGroup" asp-action="index"><i class="fas fa-times"></i>Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

