<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Silverline | @ViewData["Title"]</title>
    <environment exclude="development">
        <base href="http://b2bpotential.com/po/" />
    </environment>
    <environment include="development">
        <base href="/" />
    </environment>
    <partial name="_Styles" />
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
    <div class="wrapper">
        <partial name="_TopNavigation" />
        <partial name="_MainNavigation" />
        <div class="content-wrapper ">
            <partial name="_messaging" />
            @RenderBody()
        </div>
        <aside class="control-sidebar control-sidebar-dark">
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        @*<partial name="_Footer" />*@
    </div>
    <partial name="_Scripts" />
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>


