@model Command.Entity1.SalesPerson


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create User</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Create User</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <form asp-controller="salesperson" asp-action="update" method="post">
                <div class="card-header">
                    <h3 class="card-title">User</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.ModifiedBy)
                    @Html.HiddenFor(m => m.ModifiedDate)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label asp-for="DepartmentId">Department Name</label>
                            <select type="select" asp-for="DepartmentId" asp-items="ViewBag.DepartmentList" class="form-control">
                                <option value="0">Select Department</option>
                            </select>
                        </div>

                        @if (Model == null)
                        {
            <div class="col-md-1" style="margin-top:25px;" title="Add Department">
                <a href="#" data-toggle="modal" data-target="#myModal">
                    <span class="fas fa-plus"></span>
                </a>
            </div>}
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="card-tools">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Save</button>
                        <button type="submit" class="btn btn-primary" asp-controller="salesperson" asp-action="Index"><i class="fas fa-times"></i>Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Department</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @if (Model == null)
                {
    @await Component.InvokeAsync("Department")}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>