@model Command.Entity1.BillItem
@{
}

<tr>
    <td>
        <input type="text" name="srno" class="form-control" placeholder="SrNo">
        <input type="hidden" name="id" asp-for="Id" />
    </td>
    <td>
        @*@Html.DropDownListFor(model => model.ItemId, ViewBag.Item as SelectList, "Select Address", new { @class = "form-control" })*@
        <select type="select" name="ItemId" asp-for="ItemId" asp-items="ViewBag.Item" class="form-control w-120p">
            <option value="0">Select Item</option>
        </select>
    </td>
    <td><input name="Qty" asp-for="Qty" class="form-control w-70p" placeholder="Qty"></td>
    <td><input name="Unit" asp-for="Unit" class="form-control w-70p" placeholder="Unit" value="Pcs"  readonly ></td>
    <td><input name="BasicRate" asp-for="BasicRate" class="form-control" placeholder="BasicRate"></td>
    <td>
        <select type="select" name="AddCost" asp-for="AddCost" class="form-control w-120p">
            <option value="0">Select</option>
            <option value="1">YES</option>
            <option value="2">NO</option>
        </select>
        @* <input name="AddCost" asp-for="AddCost" class="form-control" placeholder="Freight">*@
    </td>
        <td><input name="CDC" asp-for="CDC" class="form-control w-70p" placeholder="CDC"></td>
        <td><input name="Discount1" asp-for="Discount1" class="form-control" placeholder="Discount"></td>
        <td>
            <select type="select" name="Scheme1" asp-for="Scheme1" class="form-control w-120p">
                <option value="0">Select</option>
                <option value="GST">GST</option>
                <option value="WithOut GST">W/O GST</option>
            </select>
    @*<input name="Scheme1" asp-for="Scheme1" class="form-control" placeholder="Scheme1">*@</td>
        <td><input name="scheme2" asp-for="Scheme2" class="form-control" placeholder="Scheme2"></td>
        <td><input name="SchemeAmt" asp-for="SchemeAmt" class="form-control" placeholder="SchemeAmt"></td>
        @*<td><input name="GSTRate" asp-for="GSTRate" class="form-control" placeholder="GSTRate"></td>*@
<td><input name="NLC" asp-for="NLC" class="form-control w-70p" placeholder="NLC"></td>
    <td><input name="Remarks" asp-for="Remarks" class="form-control w-120p" placeholder="Remarks"></td>
    <td id="Action1">
        <span class="btn btn-sm btn-danger btn_row_delete  preview">Delete</span> @*btn_row_delete*@
    </td>
</tr>
@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}
   