@model Command.Entity1.Bill

@{ ViewData["Title"] = "Purchase Order";
}
<style>
    .hidden {
        display: none;
    }

    .w-70p {
        width: 70px;
    }

    .w-120p {
        width: 70px;
    }

    .w-100p {
        width: 100px;
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 37px;
        user-select: none;
        -webkit-user-select: none;
    }
</style>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Purchase Order</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="content">
    <div class="container-fluid">
        <div class="card card-primary">

            <div class="card-header">
                <h3 class="card-title">Purchase Order</h3>
            </div>
            <div class="card-body">
                <form name="frmAddBill" asp-antiforgery="false" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="form-group col-3">
                            <label asp-for="No">#No</label>
                            <input type="text" class="form-control" asp-for="No" readonly>
                        </div>
                        <div class="form-group col-3">

                            <label asp-for="Date">Date</label>
                            <div class="input-group">
                               
                                <input asp-for="Date"   type="text" class="form-control datefor" readonly value="@DateTime.Now.ToString("dd-MM-yyyy")" />
                                @*<span class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </span>*@
                            </div>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="SalesPerson">SalesPerson Name</label>
                            <select type="select" asp-for="SalesPerson" asp-items="ViewBag.SalesPerson" class="form-control">
                                <option value="0">Select SalesPerson</option>
                            </select>
                            @*<input type="text" class="form-control" asp-for="SalesPerson">*@
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="Vendor">Vendor Name</label>
                            <select type="select" asp-for="Vendor" asp-items="ViewBag.Vendor" class="form-control">
                                <option value="0">Select Vendor</option>
                            </select>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="ContactPerson" >Contact Person</label>
                            <input type="text" asp-for="ContactPerson" name="ContactPerson" class="form-control" placeholder="Enter" value="">
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="ContactNo">Contact No</label>
                            <input type="text" asp-for="ContactNo" name="ContactNo" class="form-control" placeholder="Enter" value="">
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="EmailId">EmailId</label>
                            <input type="text" asp-for="EmailId" name="EmailId" class="form-control" placeholder="Enter" value="">
                        </div>

                        <div class="form-group col-3">
                            <label asp-for="DeliveryType">Pick Up/Delivery</label>
                            <select class="form-control" asp-for="DeliveryType">
                                <option value="0">Select</option>
                                <option value="PickUp">PickUp</option>
                                <option value="Delivery">Delivery</option>
                            </select>
                        </div>
                        <div class="form-group col-3 hidden" id="divaddress">
                            <label asp-for="DelieveryPlaceId">Place of Delivery</label>
                            <select type="select" asp-for="DelieveryPlaceId" asp-items="ViewBag.WareHouse" class="form-control custome-select2">
                                <option value="">Select Address</option>
                            </select>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="PaymentTerm">Payment Term</label>
                            <select class="form-control" asp-for="PaymentTerm">
                                <option value="">Select</option>
                                <option value="CDC">CDC</option>
                                <option value="PDC">PDC</option>
                            </select>
                        </div>
                        <div class="form-group col-3 hidden" id="divpayment">
                            <label asp-for="PaymentValue">Days</label>
                            <input type="text" asp-for="PaymentValue" class="form-control" placeholder="Enter" value="0">
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap tblpo">
                            <thead>
                                <tr>
                                    <th>#No</th>
                                    <th>Item Name</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>GST</th>
                                    <th>Basic Rate</th>
                                    <th>Freight</th>
                                    <th>CDC</th>
                                    <th>Discount 1</th>
                                    <th>Scheme(%)</th>
                                    <th>Scheme(Amt)</th>
                                    @*<th>GST Rate</th>*@
                                    <th>NLC</th>
                                    <th>Remark</th>
                                    <th><span class="btn btn-sm btn-success btn-add-item">Add New</span> |</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                                @foreach (var item in Model.BillItems)
                                {
                                    <partial name="_billitem" for="@item" />
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index","purchaseorder")" class="btn btn-default"><i class="fas fa-save"></i>Cancel</a>
                <button type="button" data-isUpdate="@(Model.Id==0)" class="btn btn-primary btn-submit"><i class="fas fa-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/cdn/app/JS/PurchaseOrderUpdate.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
<script>
    $(document).ready(function () {
        //$('#Date').datepicker({
        //    dateFormat: 'dd-mm-yy',
        //    minDate: -2,
        //    maxDate: 0
        //});
        //var d = new Date();
        //d.setDate(d.getDate() - 2);
        //$('#Date').attr('min', d);
        
        $("#Vendor").on("change", function () {
            debugger
            var idvalue = $(this).val();
            $.ajax({
                type: 'POST',
                url: "/purchaseorder/GetDataById",
                data: { vendorId: parseInt(idvalue) },
                dataType: 'json',
                success: function (response) {
                    $("#ContactPerson").val(response.contactPerson);
                    $("#ContactNo").val(response.contactNo);
                    $("#EmailId").val(response.emailId);
                }
            });
        });
    });
</script>
}


