@*@model List<TaskItemViewModel>*@
@{
    ViewData["Title"] = "Item List";
}

@*List<Command.Entity1.Bill>*@
@section styles{
    <link href="~/cdn/vendors/DataTables/datatables.min.css" rel="stylesheet" />
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>PO List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Purchase Order List</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <div class="col-12">
                        <form class="filter">
                            <div class="form-group col-5">
                                <label>From</label>
                                <div class="input-daterange input-group" id="datepicker">
                                    <input type="text" class="input-sm form-control" name="start" />
                                    <span class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                    <span class="input-group-addon">End Date</span>
                                    <input type="text" class="input-sm form-control" name="end" />
                                    <span class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>



            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                               
                                <div class="input-group-append">
                                    <a href="@Url.Action("Create","purchaseorder")" class="btn btn-default">
                                        <i class="fas fa-plus"></i>&nbsp; Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 500px;">
                        <table class="table table-head-fixed" id="table" cellspacing="0" width="100%" data-url="@Url.Action("list.json","purchaseorder")">
                            <thead>
                                <tr>
                                    <th>date</th>
                                    <th>PO No</th>
                                    <th>Po Date</th>
                                    <th>Vendor</th>
                                    <th>Sales Person</th>
                                    <th>Delivery Type</th>
                                    <th>Payment Term</th>
                                    <th>Status( A | P | A)</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/cdn/vendors/DataTables/datatables.min.js"></script>
    <script src="~/cdn/app/JS/common.js"></script>
    <script type="text/javascript">
        var table;
        $(function () {
            var columns = [
                { name: "end", "data": "date", "orderable": false, },
                {
                    name: "no", "data": "no", "orderable": true,

                    "render": function (data, type, full, meta) {
                        var html;
                        html = '<a href=@Url.Action("view", "purchaseorder")/' + full.id + '>' + full.no + '</a > '
                        return html;
                    }
                },
                
                //{ name: "start", "data": "date", "orderable": false },
                { name: "start", data: null, "orderable": false,
                    "render": function (data, type, full, meta) {
                        return moment(full.date).format("DD-MM-YYYY");
                    }
                },
                { name: "vendorName", "data": "vendorName", "orderable": true },
                { name: "salesPersoName", "data": "salesPersoName", "orderable": true },
                { name: "deliveryType", "data": "deliveryType", "orderable": true },
                { name: "paymentTerm", "data": "paymentTerm", "orderable": true },
                {
                    name: "Action", data: null, "orderable": false,
                    "render": function (data, type, full, meta) {
                        var html;
                        debugger
                        if (full.recstatus == 'D')
                        { html = '<small class="badge badge-danger"><i class="far fa-check-circle"></i> Cancel</small>';}
                        else if (full.approver == 0)
                        { html='<a href=@Url.Action("edit","purchaseorder")/'+full.id+'>Edit</a>' }
                        else
                        {
                            if (full.approver == 1)
                            { html='<small class="badge badge-info"><i class="far fa-check-circle"></i> App</small>'}
                            if (full.purchase == 1)
                            { html += '<small class="badge badge-warning"><i class="far fa-check-circle"></i> Pur</small>'}
                            if (full.accounts == 1)
                            {
                                html+='<small class="badge badge-success"><i class="far fa-check-circle"></i> Acc</small>'
                            }
                        }
                        return html;
                    }
                }
            ];
            table = $$.dataTable('#table', {
                columns: columns, columnDefs: [
                    {"targets": [0], "visible": false},
                ]
            });

            $('#datepicker').datepicker({
                format: "dd-mm-yyyy",
                orientation: "bottom auto",
                autoclose: true,
                todayHighlight: true,
            });
            $(document.body).on('change', '#datepicker', function () {
                var tbl = $('#table').DataTable()
                tbl.draw();
            });
        });
    </script>
}