@model Command.Entity1.BillMaster
@{ ViewData["Title"] = "Purchase Order";
    Layout = "~/Views/Shared/AdminTemplate/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            @*<div class="col-sm-6">
                    <h1>Purchase Order</h1>
                </div>*@
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Purchase Order</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <form asp-controller="PurchaseOrder" asp-action="Create" method="post">
                <div class="card-header">
                    <h3 class="card-title">Purchase Order</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        @*<div class="col-12 ">*@
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <label><h5><b>PO No</b></h5></label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <input type="text" id="POId" class="form-control" placeholder="Enter">
                        </div>
                        @*</div>*@
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <label><h5><b>Date</b></h5></label>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <input id="Date" name="Date" type="text" class="form-control datetimepicker-input" data-target="#reservationdate">
                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <label><h5><b>Sales Person Name</b></h5></label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">

                            @Html.DropDownListFor(model => model.SalesPersonName, ViewBag.SalesPerson as SelectList, "Select Sales Person", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <label><h5><b>Vendor Name</b></h5></label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            @Html.DropDownListFor(model => model.VendorName, ViewBag.Vendor as SelectList, "Select Vendor", new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <label><h5><b>Pick Up/Delivery</b></h5></label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <select class="form-control" name="DelieveryPlace" id="DelieveryPlace"><option value="0">Select</option><option value="1">YES</option><option value="0">NO</option></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <label><h5><b>Place of Delivery</b></h5></label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <select class="form-control" name="DeliveryPlace" id="DeliveryPlace"><option value="0">Select</option><option value="YES">YES</option><option value="NO">NO</option></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <label><h5><b>Payment Term</b></h5></label>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            @Html.DropDownListFor(model => model.PaymentTerm, ViewBag.PaymentTerm as SelectList, "Select", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    
    </script>